<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>loginTest</title>
</head>
<body>
<input type="text" name="id">
<input type="password" name="pw">
<button onclick="postLoginData()"> Submit</button>
<button onclick="postLogout()"> Logout </button>

<script>
    function postLoginData () {
        const data = {
            id : document.querySelector("input[name='id']").value,
            password : document.querySelector("input[name='pw']").value
        }
        axios.post('http://192.168.219.100:3000/user/login',data)
            .then(data => {
                console.log(data.data)
            })
    }
    function postLogout(){
        axios.post('http://192.168.219.100:3000/user/logout')
    }
</script>
</body>
</html>
